<configuration>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="wfc" namespace="WebFormsCore.UI.WebControls" />
				<add tagPrefix="wfc" namespace="WebFormsCore.UI.HtmlControls" />
				<add tagPrefix="wfc" namespace="WebFormsCore.UI.Skeleton" />
			</controls>
		</pages>
	</system.web>
</configuration>
