@using Microsoft.AspNetCore.Components.Web

Hello from Blazor! @DateTime.Now

<button @onclick="Callback" type="button">Counter @_counter</button>

@code {
    private int _counter;

    private void Callback(MouseEventArgs obj) => _counter++;
}
